body {
  background-color: #212121;
}

.header {
    background-color: #262626;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  color: white;
  font-weight: bold;
}

.menu {
  display: flex;

}

.menu p {
  margin-left: 20px;
}
